html {
  background-color: #ffffff;
  /* background-color: #1a3a42; */
  font-size: 16px;
  font-family: "Delius", cursive;
  font-weight: 500;
  font-style: normal;
}

h1 {
  /* Light mint/teal - pops nicely on dark background */
  /* color: #a8dcd1; */
  /* color: #7bc4b8; */
  /* color: #1a3a42; */
  letter-spacing: 2px;
  margin: 0;
  font-weight: bold;
}


/* p {
  /* font-size: 16px; */
/* line-height: 1.8; */
/* Soft white with hint of blue - easy on eyes */
/* color: #d4e8e6; */
/* color: black; */
/*} */

li {
  /* display: inline-block; */
  /* padding: 4px 20px 4px 8px; */
  cursor: pointer;
  font-size: 16px;
  line-height: 2;
  /* Soft white with hint of blue - easy on eyes */
  color: #d4e8e6;
}

/* for forms */
/* Force inputs to inherit the font */
/* input {
  font-family: inherit;  
  font-size: 1.4rem;  
} */

/* label {
  font-size: 1.6rem; 
  color: #7bc4b8; 
} */
