@import "tailwindcss";

@theme {
  --color-calm-600: #1a3a42;
  --color-calm-500: #6ba39a;
}

@layer components {
  .input-field {
    @apply bg-white rounded px-3 py-1 border border-gray-300 text-black text-xl;
  }
}

@layer base {
  input[type="submit"] {
    background-color: #6ba39a;
    color: white;
    padding: 0.3rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }
}
