@import "tailwindcss";

@theme {
  --color-calm-700: #1a3a42;
  --color-calm-600: #67a48a;
  --color-calm-500: #6ba39a;
  --color-calm-400: #c4e2dd;
}

@layer components {
  .input-field {
    @apply bg-white rounded px-3 py-1 border border-gray-300 text-black text-xl;
  }

  .landing-btns {
    @apply font-medium text-xl hover:text-[#7bc4b8] cursor-pointer text-center py-1.5;
  }
}

@layer base {
  input[type="submit"] {
    background-color: #6ba39a;
    color: white;
    padding: 0.3rem 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
  }

  h1 {
    @apply text-5xl text-calm-700 text-center py-10;
  }
}
