{% extends 'base.jinja' %}

{% block header %}
{# layout #}
  <h1>{% block title %}Challenges{% endblock %}</h1>
{% endblock %}

{% block content %}
  {# Add new challenge #}
<a 
class="text-center bg-calm-600 hover:bg-calm-500 text-white py-2 rounded font-bold cursor-pointer text-xl shadow-lg/30" 
href="{{ url_for('challenges.create') }}">
    + New Challenge
</a>

{# challenges #}
<div class="flex flex-col gap-4 my-6">
    {% for challenge in challenges %}
    {# Each challenge  #}
        <div class="bg-white hover:bg-gray-100 cursor-pointer rounded-xl px-4 py-3 shadow-lg/30 border-3 border-calm-500">
            <a 
            class="challenge flex gap-6"
            href="{{ url_for('challenges.challenge', id=challenge['id']) }}"
            >
                <h3 
                    class="font-black text-xl font-bold text-calm-600">
                    {{challenge['title'] }}
                </h3>
                <p 
                    class="text-lg text-gray-500 font-sans font-light truncate">
                    {{ challenge['body'] }}
                </p>
            </a>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}
