{% extends 'base.jinja' %}

{% block header %}
  <h1>{% block title %}Habit Tracker{% endblock %}</h1>
{% endblock %}

{% block content %}
  <div class="flex flex-col w-3/7 mx-auto bg-calm-600 gap-4 py-24 border-3 border-calm-500 rounded-xl shadow-lg/30">
    <h2>Register</h2>
    <div class="flex justify-center bg-calm-600 my-8">
      <form method="post" class=" flex flex-col gap-4 w-3/5">
        <div class="flex flex-col self-center w-full gap-1 text-white">
          <label for="username" class="text-xl">Username</label>
          <input class="input-field" name="username" id="username" required>
        </div>
        <div class="flex flex-col self-center w-full gap-1 text-white">
          <label for="password" class="text-xl">Password</label>
          <input type="password" class="input-field" name="password" id="password" required>
        </div>
        <input type="submit" value="Register" class="mt-2 py-2 text-2xl">
      </form>
    </div>
  </div>
{% endblock %}
