@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");
@import "tailwindcss";

@theme {
  --color-calm-700: #1a3a42;
  --color-calm-600: #67a48a;
  --color-calm-500: #6ba39a;
  --color-calm-400: #c4e2dd;
}

:root {
  font-family: "Delius", cursive;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  letter-spacing: 2px;
  margin: 0;
  font-weight: bold;
}

/* Custom input styling */
input,
textarea {
  font-family: inherit;
}
