{% from "macros.jinja" import button %}
<!DOCTYPE html>
<!-- html is root element -->
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <title>Habit Tracker</title> -->
    <title>{% block title %}{% endblock %} - Habit Tracker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Delius&display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="w-full">
    <nav class="bg-calm-600 shadow-lg/30">
        <div class="w-4/5 mx-auto">
            <ul>
              {% if g.user %}
                <div class="flex justify-between py-4">
                  <li class="text-white font-medium text-xl">Hello, {{ g.user['username'] }}</li>
                  <li ><a href="{{ url_for('auth.logout') }}" class="bg-white text-calm-600 px-4 py-2 rounded-xl font-medium hover:bg-[#7bc4b8] hover:text-white cursor-pointer">Log Out</a></li>
                </div>
              {% else %}
                <div class="py-4">
                  <li><a href="{{ url_for('auth.register') }}" class="text-white font-medium text-xl hover:text-[#7bc4b8] cursor-pointer">Register</a></li>
                  <li><a href="{{ url_for('auth.login') }}" class="text-white font-medium text-xl hover:text-[#7bc4b8] cursor-pointer">Log In</a></li>
                </div>
              {% endif %}
            </ul>
        </div>
    </nav>
    <section class="content w-4/5 mx-auto">
        <header class="py-10 center">
            {% block header %}{% endblock %}
        </header>

        {% for message in get_flashed_messages() %}
            <div class="bg-calm-500 text-white px-4 py-2 rounded-xl mb-4 shadow">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
    </section>
    <!-- Use async here so it the following line doesn't have to wait -->
    <script async src="{{ url_for('static', filename = 'main.js') }}"></script>
  </body>
</html>
